*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-cache
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
example/
docs/
_algolia_api_key
.gitconfig
usefull_commands.md
convert_webp.py