/* ==========================================================================
   Coso y cosas theme skin
   ========================================================================== */

/* Colors */
$base-color: #fff !default;
$text-color: #000 !default;
$accent-color: #facf6c !default;
$background-color: #fff !default;
$code-background-color: #000 !default;
$border-color: rgba($text-color, 0.25) !default;
$overlay-color: #facf6c !default;
$sidebar-background-color: #000 !default;
